* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;    
}

/* START Styles for page register.php */

/* END Styles for page register.php */